/conf/
/logs/
/app/sql/
/app/public/wp-includes/
/app/public/.htaccess
/app/public/wp-comments-post.php
/app/public/wp-trackback.php
/app/public/wp-admin/
/app/public/wp-settings.php
/app/public/index.php
/app/public/wp-cron.php
/app/public/wp-login.php
/app/public/readme.html
/app/public/local-xdebuginfo.php
/app/public/wp-links-opml.php
/app/public/wp-mail.php
/app/public/wp-activate.php
/app/public/wp-config-sample.php
/app/public/wp-blog-header.php
/app/public/license.txt
/app/public/wp-signup.php
/app/public/wp-config.php
/app/public/wp-load.php
/app/public/xmlrpc.php
/app/public/wp-content/.idea/
/app/public/wp-content/languages/
/app/public/wp-content/plugins/
/app/public/wp-content/updraft/
/app/public/wp-content/upgrade/
/app/public/wp-content/uploads/
/app/public/wp-content/themes/index.php
/app/public/wp-content/themes/maat-theme/node_modules/
/app/public/wp-content/themes/maat-theme/fonts/
/app/public/wp-content/themes/maat-theme/.idea/
/app/public/wp-content/themes/maat-theme/public/
