@include media-breakpoint-up(lg) {
  .achivement-img {
    max-height: 400px;
    width: auto;
  }
  .swiper-pagination-total {
    font-size: 45px !important;
  }
  .swiper-pagination-current {
    font-size: 40px !important;
  }
  .progress-container {
    top:70px;
  }
  .portfolio-card {
    .play_button {
        top: 150%;
    }
    &:hover {
      .play_button {
        top: 50%;
      }
    }
  }
  .card-image {
    & ,.card-image , .post-number {
      transition: all 0.3s linear;
    }
    &:hover {
      background: $danger;
      .card-title {
        color:white;
      }
      .post-number {
        color: $primary;
      }
    }
  }
  .gap {
    height: 110px;
  }
  .supah-scroll {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    will-change: transform;
    overflow: hidden;
    > section{
      position: relative!important;
    }
  }
  .custom-gradient{
    background: linear-gradient(90deg,$primary 50%,$secondary 50%);
  }
}
@include media-breakpoint-down(lg) {
  .achivement-img {
    max-height: 250px;
    width: auto;
  }
  .portfolio-dialog {
    transform: translateY(-50%) !important;
    top:50%;
  }
  .swiper-pagination-current {
    font-size: 30px !important;
  }
  .swiper-pagination-total {
    font-size: 35px !important;
  }
  .progress-container {
    top:80px;
  }
  .post-number {
    font-size: 4.5rem;
  }
  .card-title {
    font-size: 2.2rem !important;
  }
  .portfolio-card {
    .play_button {
      top: 50%;
    }
  }
  .card-image {
    .post-number {
      color: $danger;
    }
  }
  .gap {
    height: 90px;
  }
  .custom-container{
    width: 100%;
  }
  .custom-gradient{
    & > div > div > div:first-child{
      background-color: $primary;
    }
    & > div > div > div:last-child{
      background-color: $secondary;
    }
    & > div{
      max-width: 100%!important;
    }
  }
}
@include media-breakpoint-down(xl) {
}
@media all and (min-width:1960px)  {
  .container {
    max-width:80vw!important;
  }
}
@include media-breakpoint-down(sm) {
  .fs-1 {
    font-size: calc(1.325rem + 1.4vw) !important;
  }
  .fs-2 {
    font-size: calc(1.275rem + 0.8vw) !important;
  }
  .fs-3 {
    font-size: calc(1.25rem + 0.5vw) !important;
  }
  .fs-4 {
    font-size: calc(1.225rem + 0.2vw) !important;
  }
  .fs-5 {
    font-size: 1.2rem !important;
  }
  .fs-6 {
    font-size: 1rem !important;
  }
   p, span {
    font-size: 0.90rem !important;
    line-height: 1.7;
  }
  small, .small {
    font-size: 0.875rem !important;
  }
}

@include media-breakpoint-up(md) {
}
@include media-breakpoint-down(md) {
}
